body {
    background-color: black; 
    font-family: "Poppins", sans-serif;
  }
  
h4 {
  font-size: 100px;
}

h4 span {
  color: goldenrod;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: black
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: goldenrod;
  }

  .letras-brancas {
    color: white;
}

  .flexbox_cardapio {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 0 0 calc(33.333% - 20px); 
    margin: 10px; 
    height: 550px; 
    background-color: black; 
    justify-content: center; 
    align-items: center; 
  }

  .cardapio-hover {
    background-color: #eff0f4;
    width: 270px;
    cursor: pointer;
  }
  
  .cardapio-hover:hover {
    width: 280px;
  }
  
  .button {
    background-color: goldenrod;
    color:black;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 550;
  }
  
  .button:hover {
    background-color: red
  }

  .button-desconto {
    background-color: goldenrod;
    color:black;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 20px;
    font-weight: 550;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
  .bloco {
    display: flex;
    width: 90%;
    margin: auto;
  }
  
  .imagem {
    flex: 1;
     /* background-color: #ccc; Cor de fundo da imagem */
  }
  
  .texto {
    flex: 2;
    display: flex;
    align-items: center;
    /* background-color: #f0f0f0; Cor de fundo do texto */
  }
  
  footer {
    background-color: goldenrod;
    padding: 60px;
    color: black;
  }
  .icons {
    text-align: right;
  }
  
  .icons a {
    text-decoration: none;
    margin-right: 20px;
  }